@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

.newsletter {
  margin-top: 100px;
  font-family: Nunito;
  font-size: 35px;
  letter-spacing: 0.05em;
  color: white;
}

.newsletterInput {
  width: 400px;
  border: bold;
  border-color: white;
  border-radius: 15px;
  padding: 10px;
  border-style: solid;
  background-color: transparent;
  color: white;
  font-size: 20px;
  font-family: Nunito;
  padding-left: 15px;
  margin-bottom: 15px;
}

.space {
  display: block;
  padding-top: 8px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 584px) {
  .newsletter {
    font-size: 20px;
  }

  .newsletterInput {
    width: 250px;
    padding: 7px;
    font-size: 13px;
    padding-left: 15px;
  }
}
