@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

.mainContainer {
  margin-top: 0px;
  width: 100vw;
  height: 870px;
  border-radius: 20px;
  background-color: transparent;
}

.tabBox {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-self: center;
  margin-top: 40px;
  width: 1000px;
  height: 150px;
  background-color: transparent;
  border-radius: 15px;
}

.tool1 {
  position: absolute;
  margin-top: 100px;
  width: 1000px;
  height: 800px;
  background-color: #4b82d8;
  border-radius: 15px;
}

.tool2 {
  position: absolute;
  margin-top: 0px;
  width: 1000px;
  height: 650px;
  background-color: #4b82d8;
  border-radius: 15px;
}
.pomodoroTab {
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  font-family: nunito;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;
  background-color: #4b82d8;
  border-radius: 20px;
}

.pomodoroTab:hover {
  background-color: #4b82d8;
}

.todolistTab {
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  font-family: nunito;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;
  background-color: #4b81d8ab;
  border-radius: 20px;
}

.trackerTab {
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding-top: 20px;
  font-family: nunito;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 200px;
  background-color: #4b81d8ab;
  border-radius: 20px;
}

@media only screen and (max-width: 1100px) {
  .tabBox {
    width: 90vw;
  }
  .tool1 {
    width: 90vw;
  }
  .tool2 {
    width: 90vw;
  }
}
@media only screen and (max-width: 550px) {
  .todolistTab {
    width: 150px;
    font-size: 15px;
  }
  .trackerTab {
    font-size: 15px;
  }
  .pomodoroTab {
    font-size: 15px;
  }

  .tool1 {
    width: 90vw;
  }
  .tool2 {
    width: 90vw;
  }
}

@media only screen and (max-width: 450px) {
  .todolistTab {
    width: 110px;
    font-size: 12px;
  }
  .trackerTab {
    font-size: 12px;
  }
  .pomodoroTab {
    font-size: 12px;
  }
}

@media only screen and (max-width: 300px) {
  .mainContainer {
    width: 270px;
  }
  .tool1 {
    width: 270px;
  }
  .tool2 {
    width: 270px;
  }
  .tabBox {
    width: 270px;
  }
}
